
html, body {
  width: 100%;
  min-height: 585px;
  text-rendering: optimizeLegibility;
}
html, body, #map-canvas {
  padding: 0;
  margin: 0;
  height: 100%;
}
h5 {
  text-align: left !important;
}
h6 {
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

#go-button {
  margin-top: 10px;
  font-size: 2em;
}
#title {
  background-color: #E5E5E5 !important;
  margin: 0;
}
#title h3 {
  text-align: center;
  font-size: 2.3em;
}
#map-canvas { 
  float: right;
  max-width: none;
  max-height: none;
  width: 100%;
  width: calc(100% - 240px);
  z-index: 1;
  display: block;
}
#map-canvas img { 
  width: auto; 
  display: inline; 
  max-width: none;
}
#options {
  float: left;
  height: 100%;
  position: relative;
  z-index: 4;
  width: 240px;
  background-color: #FAFAFA;
  padding: 6px; 
  border-right: 1px solid #CCC;
}
#heuristics .radio {
  margin-left: 25px;
}
#heuristic-type .help-inline {
  padding-left: 6px;
}
#alert {
  position: absolute;
  left: 265px;
  top: 20px;
  z-index: 2;
  max-width: 500px;
}

.well {
  padding: .5em;
}

.help {
  float: right;
  width: 13px;
  height: 13px;
  line-height: 13px;
  font-size: .75em;
  text-align: center;
  color: white;
  background: black;
  border-radius: 100%;
}
.heur-help {
  margin-top: 4px;
}

.bidirection button {
  margin: 0;
}

.btn-group .btn {
  width: 33.5%;
}

.control-group {
  text-align: center;
  margin: 4px 0px;
}
.control-group input {
  width: 50px;
  margin-bottom: 0px;
}
.tooltip-inner {
  white-space: pre-wrap;
}
.popover-content {
  width: 240px;
  font-weight: 400;
}

.contact {
  text-align: center;
  margin-top: 5px;
}
.contact a {
  font-size: 16px;
}

.map-loading-overlay {
  height: 100%;
  width: 100%;
  width: calc(100% - 240px);
  margin-left: 240px;
  position: fixed;
  z-index: 3;
  display: none;
  background-color: rgba(0,0,0,.5);
}
.spinner {
  height: 200px;
  width: 200px;
  position: relative;
  top: calc(50% - 100px);
  margin: 0 auto;
  border-top: 4px solid rgb(66, 139, 202);
  border-radius: 100%;
  
  -webkit-animation: rotation .7s infinite linear;
  -moz-animation: rotation .7s infinite linear;
  -o-animation: rotation .7s infinite linear;
  animation: rotation .7s infinite linear;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

