/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;
}

#wrapper div {
    margin: 0 auto;
    max-width: 1024px;
}

span {
    white-space: nowrap;
}

#content li {
    margin-left: 10px;
}

#content h4 {
    font-size: 16px;
    margin: 0;
    margin-left: -14px;
}

#content h3 {
    margin: 18px -10px auto auto;
    line-height: 30px;
}

#content section {
    margin-left: 30px;
}

#content p {
    margin-left: 0px;
}

.blogPost header p, .blogPost header p a {
        font-size: 14px;
        font-style: italic;
        color: #999999;
    }
    
        .blogPost header p a:hover {
            text-decoration: none;
            color: #000;
        }

#intro {
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    border-radius: 22px;
    background: #1589FF url("fedora.png");
    background-size: cover; /* stretch to fit */
    box-shadow: 3px 3px 7px #777;
}

#intro h2 {  
    padding: 0 0 4px 0;
    font-weight: normal;
    color: white;
}  
  
#intro p {
    font-size: 13px;
    padding: 0;  
    color: white; 
    font-weight: lighter;
}

/*------------------------------
=FOOTER
------------------------------*/
footer {
    background: #161616;
    padding-top: 12px;
    padding-bottom: 50px;
}

footer div {
    margin: 20px 20px;
    color: #777;
}

footer p {
    color: #999999;
}

footer h2 {  
    font-weight: lighter;
    color: #999999;
}  