/* Makeshift CSS reset */
{
    margin: 0;
    padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;
}

body {
    margin: auto auto;
    width: 940px;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #e5e5e5;
}

h1 {
    font-size: 28px;
    line-height: 44px;
    padding: 0px 0;
    font-weight: normal;
    color: black;
}

h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
    color: black;
}

h3 {
    font-size: 24px;
    line-height: 0px;
    font-weight: lighter;
    padding: 0px 0;
}

p {
    padding: 0 10px;
    color: black;
}

nav {
    position: absolute;
    left: 0;
    width: 100%;
    background: #2F2F2F;
    box-shadow: 1px 1px 4px #777;
}

nav ul {  
    margin: 0 auto;  
    width: 940px;  
    list-style: none;  
} 

nav ul li {
    float: left;
}

    nav ul li a {
        display: block;
        margin-right: 20px;
        width: 200px;
        font-size: 14px;
        line-height: 44px;
        text-align: center;
        text-decoration: none;
        color: #e5e5e5;
    }

        nav ul li a:hover {
            color: #fff;
        }

        nav ul li.selected a {
            color: #fff;
        }

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
    display: table;
}

    #mainContent {
        display: table-cell;
        width: 620px;
        padding-right: 22px;
    }
    
    aside {
        display: table-cell;
        width: 300px;
    }

#content hr {
    border: 10;
    width: 100%;
}


.blogPost header p, .blogPost header p a {
        font-size: 14px;
        font-style: italic;
        color: #777;
    }
    
        .blogPost header p a:hover {
            text-decoration: none;
            color: #000;
        }

.blogPost div {
    /* Column-count not implemented yet */
    -moz-column-count: 2;
    -webkit-column-count: 2;
    
    /* Column-gap not implemented yet */
    -moz-column-gap: 22px;
    -webkit-column-gap: 22px;
}
    
.blogPost img {
    margin: 22px 0;
    box-shadow: 3px 3px 7px #777;
}


#intro {
    margin-top: 80px;
    padding: 30px;
    border-radius: 22px;
    background: #1589FF url("fedora.png") repeat-x;
    background-size: 100%;
    /* Background-size not implemented yet */
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;
  
    /* Border-radius not implemented yet */  
    -moz-border-radius: 22px;  
    -webkit-border-radius: 22px; 

    /* Images! */
    background: #1589FF url("fedora.png") top left (287px 100%) repeat-x,  
            url("fedora.png") top righrtight (653px 100%) no-repeat;  
            box-shadow: 3px 3px 7px #777;
    
}

#intro h2 {  
    padding: 0 0 4px 0;  
    font-weight: normal;
    color: white;
    width: 336px;
}  
  
#intro p {
    font-size: 13px;
    padding: 0;  
    color: white; 
    font-weight: lighter;
    width: 336px; 
}

/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
    margin: 40px 40px 0 22px;
    padding: 0px 22px;
    border-radius: 11px;
}

    aside section ul {
        margin: 0 0 0 22px;
        list-style: none;
    }
    
        aside section ul li a {
            display: block;
            text-decoration: none;
            color: #000;
        }
        
            aside section ul li a:hover {
                text-decoration: underline;
            }




/*------------------------------
=FOOTER
------------------------------*/
footer {
    position: absolute;
    left: 0;
    width: 100%;
    background: #222222;
}

    footer div {
        display: table;
        margin: 0 auto;
        padding: 44px 0;
        width: 940px;
        color: #777;
    }
    
        footer div section {
            display: table-cell;
            width: 300px;
        }
        
        footer div #about, footer div #blogroll {
            padding-right: 20px;
        }
        
    footer h3 {
        color: #FFF;
    }

    footer p {
        color: #FFF;
    }
    
    footer a {
        color: #999;
    }
    
        footer a:hover {
            color: #FFF;
            text-decoration: none;
        }
    
    footer ul {
        margin: 0 0 0 40px;
        list-style: square;
        color: #565656;
    }
    
        footer ul li a {
            display: block;
        }

